<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== SWIPER CSS ===============--> 
    <link rel="stylesheet" href="/static/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Momentum Watches</title>
    <style>
        #error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

    </style>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
      <nav class="nav container">
          <a href="#" class="nav__logo">
              <i class='bx bxs-watch nav__logo-icon'></i> Momentum Watches
          </a>
  
          <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                  <li class="nav__item">
                      <a href="/" class="nav__link active-link">Home</a>
                  </li>
                  <li class="nav__item">
                      <a href="#featured" class="nav__link">Featured</a>
                  </li>
                  <li class="nav__item">
                      <a href="#products" class="nav__link">Products</a>
                  </li>
                  <li class="nav__item">
                      <a href="#aboutus" class="nav__link">About Us</a>
                  </li>
                  <li class="nav__item">
                      <a href="#new" class="nav__link">New</a>
                  </li>
                  <li class="nav-item">
                      <a href="/analytics" class="nav__link">Data</a>
                  </li>
                  <!--<li class="nav-item">
                      <a href="/login" class="nav__link" >Login</a>
                  </li>-->
                  <li class="nav-item">
                      <a href="/signup" class="nav__link" >SignUp</a>
                  </li>
  
              </ul>
  
              <div class="nav__close" id="nav-close">
                  <i class='bx bx-x' ></i>
              </div>
          </div>
  
          <div class="nav__btns">
              <!-- Theme change button -->
              <i class='bx bx-moon change-theme' id="theme-button"></i>
  
              <div class="nav__shop" id="cart-shop">
                  <i class='bx bx-shopping-bag' ></i>
              </div>
  
              <div class="nav__toggle" id="nav-toggle">
                  <i class='bx bx-grid-alt' ></i>
              </div>
          </div>
      </nav>
    </header>
  
    <!--==================== CART ====================-->    
    <div class="cart" id="cart">
      <i class='bx bx-x cart__close' id="cart-close"></i>
  
      <h2 class="cart__title-center">My Cart</h2>
  
      <div class="cart__container">
          <article class="cart__card">
              <div class="cart__box">
                  <img src="/static/featured1.png" alt="" class="cart__img">
              </div>
  
              <div class="cart__details">
                  <h3 class="cart__title">Jazzmaster</h3>
                  <span class="cart__price">$1050</span>
  
                  <div class="cart__amount">
                      <div class="cart__amount-content">
                          <span class="cart__amount-box" onclick="decreaseItem(this)">
                              <i class='bx bx-minus' ></i>
                          </span>
  
                          <span class="cart__amount-number">1</span>
  
                          <span class="cart__amount-box" onclick="increaseItem(this)">
                              <i class='bx bx-plus' ></i>
                          </span>
                      </div>
  
                      <i class='bx bx-trash-alt cart__amount-trash' onclick="removeItem(this)"></i>
                  </div>
              </div>
          </article>
  
          <!-- Repeat the same structure for the other items in the cart... -->
          <article class="cart__card">
              <div class="cart__box">
                  <img src="/static/product1.png" alt="" class="cart__img">
              </div>
  
              <div class="cart__details">
                  <h3 class="cart__title">LONGINES ROSE</h3>
                  <span class="cart__price">$980</span>
  
                  <div class="cart__amount">
                      <div class="cart__amount-content">
                          <span class="cart__amount-box" onclick="decreaseItem(this)">
                              <i class='bx bx-minus' ></i>
                          </span>
  
                          <span class="cart__amount-number">1</span>
  
                          <span class="cart__amount-box" onclick="increaseItem(this)">
                              <i class='bx bx-plus' ></i>
                          </span>
                      </div>
  
                      <i class='bx bx-trash-alt cart__amount-trash' onclick="removeItem(this)"></i>
                  </div>
              </div>
          </article>
          <article class="cart__card">
              <div class="cart__box">
                  <img src="/static/featured3.png" alt="" class="cart__img">
              </div>
  
              <div class="cart__details">
                  <h3 class="cart__title">ROSE GOLD</h3>
                  <span class="cart__price">$1890</span>
  
                  <div class="cart__amount">
                      <div class="cart__amount-content">
                          <span class="cart__amount-box" onclick="decreaseItem(this)">
                              <i class='bx bx-minus' ></i>
                          </span>
  
                          <span class="cart__amount-number">1</span>
  
                          <span class="cart__amount-box" onclick="increaseItem(this)">
                              <i class='bx bx-plus' ></i>
                          </span>
                      </div>
  
                      <i class='bx bx-trash-alt cart__amount-trash' onclick="removeItem(this)"></i>
                  </div>
              </div>
          </article>
      </div>
  
      <div class="cart__prices">
          <span class="cart__prices-item">3 items</span>
          <span class="cart__prices-total">$3920</span>
      </div>
    </div>
  
  
    <script>
      function increaseItem(button) {
          var amountNumber = button.parentNode.parentNode.querySelector(".cart__amount-number");
          var price = button.parentNode.parentNode.parentNode.querySelector(".cart__price").innerHTML;
          var pricesTotal = document.querySelector(".cart__prices-total");
          var pricesTotalNumber = pricesTotal.innerHTML.replace("$", "");
          amountNumber.innerHTML = parseInt(amountNumber.innerHTML) + 1;
          pricesTotal.innerHTML = "$" + (parseInt(pricesTotalNumber) + parseInt(price.replace("$", "")));
      }
  
      function decreaseItem(button) {
          var amountNumber = button.parentNode.parentNode.querySelector(".cart__amount-number");
          var price = button.parentNode.parentNode.parentNode.querySelector(".cart__price").innerHTML;
          var pricesTotal = document.querySelector(".cart__prices-total");
          var pricesTotalNumber = pricesTotal.innerHTML.replace("$", "");
          if (parseInt(amountNumber.innerHTML) > 1) {
              amountNumber.innerHTML = parseInt(amountNumber.innerHTML) - 1;
              pricesTotal.innerHTML = "$" + (parseInt(pricesTotalNumber) - parseInt(price.replace("$", "")));
          }
      }
  
      function removeItem(button) {
          var card = button.parentNode.parentNode.parentNode;
          var price = card.querySelector(".cart__price").innerHTML;
          var amountNumber = card.querySelector(".cart__amount-number").innerHTML;
          var pricesTotal = document.querySelector(".cart__prices-total");
          var pricesTotalNumber = pricesTotal.innerHTML.replace("$", "");
          card.remove();
          pricesTotal.innerHTML = "$" + (parseInt(pricesTotalNumber) - (parseInt(price.replace("$", "")) * parseInt(amountNumber)));
          var cart = document.querySelector("#cart");
          if (cart.querySelector(".cart__card") == null) {
              // cart.innerHTML = "<p>Your cart is empty.</p>";
  
          }
      }
    </script>

    </div>
    <section class="home" id="home">
        <div class="home__container container grid">
            <div class="home__img-bg">
                <img src="/static/home.png" alt="" class="home__img">
            </div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title"> Login
                        <div class="close"></div>
                    </h1>
                    {% if error %}
                    <p style="color: red">{{ error }}</p>
                    {% endif %}
                    <form method="post" action="{{ url_for('login') }}">
                        <div class="input-container">
                            <input type="email" id="email_address" name="email_address" required="required" />
                            <label for="email"><i class="fa fa-user"></i> &nbsp; Email/Username </label>
                            <div class="bar"></div>
                        </div>
                        <div class="input-container">
                            <input type="password" id="password" name="password" required="required" />
                            <label for="password"><i class="fa fa-lock"></i> &nbsp; Password</label>
                            <div class="bar"></div>
                        </div>
                        <div class="button-container">
                            <button type="submit"><input type="submit" value="submit" /></button>
                        </div>
                    </form>
                    {% if success %}
                    <p class="success">Logged in successfully!</p>
                    {% elif error %}
                    <p class="error">Error logging in: {{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
      
        
<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <h3 class="footer__title">Our information</h3>

            <ul class="footer__list">
                <li>12734 - University Club Dr.</li>
                <li>Tampa Florida 33612</li>
            </ul>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">About Us</h3>

            <ul class="footer__links">
                <li>
                    <a  class="footer__link">Support Center</a>
                </li>
                <li>
                    <a class="footer__link">Customer Support</a>
                </li>
                <!--<li>
                    <a href="#" class="footer__link">About Us</a>
                </li>-->
                <li class="nav__item">
                    <a href="#aboutus" class="footer__link">About Us</a>
                </li>
                <li>
                    <a class="footer__link">Copy Right</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Products</h3>

            <ul class="footer__links">
                <!--<li>
                    <a href="#" class="footer__link">Luxury Watches</a>
                </li>-->
                <li class="nav__item">
                    <a href="#products" class="footer__link">Luxury Watches</a>
                </li>
                <!--<li>
                    <a href="#" class="footer__link">Smart Watches</a>
                </li>-->
                <li class="nav__item">
                    <a href="#featured" class="footer__link">Smart Watches</a>
                </li>
                <li class="nav__item">
                    <a href="#new" class="footer__link">Latest Collections</a>
                </li>

            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Social</h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>

                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter' ></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </ul>
        </div>
    </div>

    <span class="footer__copy">&#169; Momentum Luxury Watches. All rigths reserved</span>
  </footer>

  <!--=============== SCROLL UP ===============-->
  <a href="#" class="scrollup" id="scroll-up"> 
    <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
  </a>

  <!--=============== SWIPER JS ===============-->
  <script src="/static/swiper-bundle.min.js"></script>

  <!--=============== MAIN JS ===============-->
  <script src="/static/main.js"></script>


  <script>
    const emailInput = document.getElementById("email");
    const errorMessage = document.getElementById("error-message");

    emailInput.addEventListener("input", function() {
        const email = emailInput.value.trim();
        const isValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);

        if (isValidEmail) {
            errorMessage.style.display = "none";
        } else {
            errorMessage.textContent = "Please enter a valid email address";
            errorMessage.style.display = "block";
        }
    });

    function subscribe() {
        const email = emailInput.value.trim();
        const isValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);

        if (isValidEmail) {
            console.log("Email entered:", email);
            errorMessage.style.display = "none";
            alert("Thank you for subscribing!");
            emailInput.value = '';

        } else {
            errorMessage.textContent = "Please enter a valid email address";
            errorMessage.style.display = "block";
        }
    }
  </script>


</body>
</html>
